{
  "name": "{{ factorio_name }}",
  "description": "{{ factorio_description }}",
  "max_players": {{ factorio_max_players }},
  "visibility": {
    "public": true,
    "lan": true
  },
  "token": "{{ factorio_token }}",
  "game_password": "{{ factorio_game_password }}",
  "require_user_verification": {{ factorio_require_user_verification }},
  "max_upload_in_kilobytes_per_second": {{ factorio_max_upload_in_kilobytes_per_second }},
  "minimum_latency_in_ticks": {{ factorio_minimum_latency_in_ticks }},
  "ignore_player_limit_for_returning_players": {{ factorio_ignore_player_limit_for_returning_players }},
  "allow_commands": "{{ factorio_allow_commands }}",
  "autosave_interval": {{ factorio_autosave_interval }},
  "autosave_slots": {{ factorio_autosave_slots }},
  "afk_autokick_interval": {{ factorio_afk_autokick_interval }},
  "auto_pause": {{ factorio_auto_pause }},
  "only_admins_can_pause_the_game": {{ factorio_only_admins_can_pause_the_game }},
  "autosave_only_on_server": {{ factorio_autosave_only_on_server }},
  "admins": {{ factorio_admins }}
}
